
.line-chart .value-line {
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}

.line-chart .y .tick line {
  opacity: 0.2;
}

.line-chart .y .tick text {
  text-shadow: 0 0 4px #fff;
}

.line-chart .axis path,
.line-chart .axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}
.line-chart .axis path {
  stroke: none;
}
.line-chart .y.axis .tick:first-of-type line {
  opacity: 1;
}
.line-chart .y.axis .tick:first-of-type text {
  display: none;
}

.line-chart circle {
  fill: #006699;
}

.line-chart .below-line {
  opacity: 0.1;

  stroke: steelblue;
  fill: steelblue;
}

#line-chart-tip.transition {
  transition: transform 0.1s linear;
}
#line-chart-tip rect {
  opacity: 0.9;

  fill: #FFFFFF;
  stroke: #666666;
  stroke-width: 1;
}
